{
	admin off
	auto_https off
}

# Railway wstrzykuje zmienną PORT; lokalnie domyślnie 80
:{$PORT:80} {
	root * /srv
	encode gzip
	# czyste adresy: /oferta → oferta.html
	try_files {path} {path}.html {path}/
	file_server
}
